In [31]:
import random
from pathlib import Path
from typing import List

import numpy as np
import pandas as pd

In [32]:
random.seed(42)
INPUT_FILE = Path("raw/world-cities-database/worldcities.xlsx")
OUTPUT_FILE = Path("temporary/country.txt")

In [33]:
data: pd.DataFrame = pd.read_excel(INPUT_FILE)
data.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

In [34]:
def drop_columns(df: pd.DataFrame, columns: List[str]):
    for column in columns:
        df.drop(column, axis=1, inplace=True)

In [35]:
drop_columns(data, ["lat", "lng", "capital", "population", "id"])
data.head()

      city city_ascii      country iso2 iso3   admin_name
0    Tokyo      Tokyo        Japan   JP  JPN        Tōkyō
1  Jakarta    Jakarta    Indonesia   ID  IDN      Jakarta
2    Delhi      Delhi        India   IN  IND        Delhi
3   Mumbai     Mumbai        India   IN  IND  Mahārāshtra
4   Manila     Manila  Philippines   PH  PHL       Manila

In [36]:
drop_columns(data, ["city", "city_ascii", "iso2", "iso3", "admin_name"])
data = data.drop_duplicates()
data.head()

       country
0        Japan
1    Indonesia
2        India
4  Philippines
5        China

In [37]:
np.savetxt(OUTPUT_FILE, data["country"], fmt='%s')