In [1]:
import random
from pathlib import Path
from typing import List

import numpy as np
import pandas as pd

In [2]:
random.seed(42)
INPUT_FILE = Path("raw/AllCompanyNames/AllCompanyNames.csv")
OUTPUT_FILE = Path("processed/company_name.txt")

In [3]:
data: pd.DataFrame = pd.read_csv(INPUT_FILE)
data.head()

                    CompanyName IncorporationDate    SIC
0                         ! LTD         11/9/2012  99999
1  !BIG IMPACT GRAPHICS LIMITED         21/9/2010  59112
2                !NNOV8 LIMITED        11/10/2017  62090
3                  !NSPIRED LTD         11/4/2012  70229
4       !NVERTD DESIGNS LIMITED         30/7/2014  58190

In [4]:
data = data.sample(n=26500, random_state=42)
np.savetxt(OUTPUT_FILE, data["CompanyName"], fmt='%s')